@import "tailwindcss";

:root {
  /* cores */
  --orange-1: #f27706;
  --orange-2: #ffe3ca;
  --gray-1: #7d7d7d;
  --gray-2: #dbdbdb;
  --gray-3: #4f4e4e;
  --green-1: #199570;
  --gradient-red: #be4040;
}

@theme {
  /* colors */
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-green-1: var(--green-1);
  --color-gradient-red: var(--gradient-red);

  /* fontes */
  --font-lobster: "Lobster", cursive;
  --font-inter: "Inter", sans-serif;
}
